{% extends 'layout.html' %}

{% block body%}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Add activities</h1></br>
        <form action="/submit" method="POST" id="activity_form">
            <div class="form-group">
                <h4>Gender</h4>
                <input type="radio" name="gender" value="male" checked> Male
                <input type="radio" name="gender" value="female"> Female
            </div>
            <div class='form-group'>
                <h4>Name of classes</h4>
                <input type="text" name="classes">
            </div>
            <div class='form-group'>
                <h4>Place (e.x. Nova Dance School)</h4>
                <select name="place" form="activity_form">
                    <option value="sempre">Sempre Szkoła Tańca</option>
                    <option value="nova">Nova Szkoła Tańca</option>
                    <option value="lofty">Loftodance</option>
                    <option value="officyna">Studio Tańca Officyna</option>
                    <option value="Termy Krakowskie">Termy Krakowskie</option>
                </select>
            </div>
            <div class='form-group'>
                <h4>Category (e.x. Dance)</h4>
                <input type="text" name="category">
            </div>
            <div class='form-group'>
                <h4>Instructor</h4>
                <input type="text" name="instructor">
            </div>
            <div class="form-group">
                <h4>How do you rate classes & instructor?</h4>
                <input type="radio" id="1a" name="classes_rate" value="1">
                <label for="1a">1</label>
                <input type="radio" id="2a" name="classes_rate" value="2">
                <label for="2a">2</label>
                <input type="radio" id="3a" name="classes_rate" value="3">
                <label for="3a">3</label>
                <input type="radio" id="4a" name="classes_rate" value="4">
                <label for="4a">4</label>
                <input type="radio" id="5a" name="classes_rate" value="5">
                <label for="5a">5</label>
                <input type="radio" id="6a" name="classes_rate" value="6">
                <label for="6a">6</label>
                <input type="radio" id="7a" name="classes_rate" value="7">
                <label for="7a">7</label>
                <input type="radio" id="8a" name="classes_rate" value="8">
                <label for="8a">8</label>
                <input type="radio" id="9a" name="classes_rate" value="9">
                <label for="9a">9</label>
                <input type="radio" id="10a" name="classes_rate" value="10">
                <label for="10a">10</label>
            </div>
            <div class='form-group'>
                <h4>How was your performance?</h4>
                <input type="radio" id="1" name="training_rate" value="1">
                <label for="1">1</label>
                <input type="radio" id="2" name="training_rate" value="2">
                <label for="2">2</label>
                <input type="radio" id="3" name="training_rate" value="3">
                <label for="3">3</label>
                <input type="radio" id="4" name="training_rate" value="4">
                <label for="4">4</label>
                <input type="radio" id="5" name="training_rate" value="5">
                <label for="5">5</label>
                <input type="radio" id="6" name="training_rate" value="6">
                <label for="6">6</label>
                <input type="radio" id="7" name="training_rate" value="7">
                <label for="7">7</label>
                <input type="radio" id="8" name="training_rate" value="8">
                <label for="8">8</label>
                <input type="radio" id="9" name="training_rate" value="9">
                <label for="9">9</label>
                <input type="radio" id="10" name="training_rate" value="10">
                <label for="10">10</label>
            </div>
            <div class='form-group'>
                <h4>Duration (in minutes)</h4>
                <input type="text" name="duration">
            </div>
            <div class='form-group'>
                <h4>Price</h4>
                <input type="text" name="price">
            </div>
            <div class='form-group'>
                <h4>Date</h4>
                <input type="date" name="date">
            </div>
            <div class='form-group'>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}