{% extends 'layout.html' %}

{% block body%}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Add activities</h1></br>
        <form action="/submit" method="POST" id="activity_form">
            <div class="form-group">
                <h4>Gender</h4>
                <input type="radio" name="gender" value="male" checked> Male
                <input type="radio" name="gender" value="female"> Female
            </div>
            <div class='form-group'>
                <h4>Name of classes</h4>
                <input type="text" name="classes">
            </div>
            <div class='form-group'>
                <h4>Place (e.x. Nova Dance School)</h4>
                <select name="place" form="activity_form">
                    <option value="sempre">Sempre Szkoła Tańca</option>
                    <option value="nova">Nova Szkoła Tańca</option>
                    <option value="lofty">Loftodance</option>
                    <option value="officyna">Studio Tańca Officyna</option>
                    <option value="Termy Krakowskie">Termy Krakowskie</option>
                </select>
            </div>
            <div class='form-group'>
                <h4>Category (e.x. Dance)</h4>
                <input type="text" name="category">
            </div>
            <div class='form-group'>
                <h4>Instructor</h4>
                <input type="text" name="instructor">
            </div>
            <div class='form-group'>
                <h4>Duration (in minutes)</h4>
                <input type="text" name="duration">
            </div>
            <div class='form-group'>
                <h4>Price</h4>
                <input type="text" name="price">
            </div>
            <div class='form-group'>
                <h4>Date</h4>
                <input type="date" name="date">
            </div>
            <div class='form-group'>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}