{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Edit activity</h1>
        {% from 'includes/_formhelpers.html' import render_field %}
    </div>
    <div class="container">
        <form method="POST" action="">
            <div class="form-group">
                {{render_field(form.category, class_='form-control')}}
            </div>
            <div class="form-group">
                {{render_field(form.classes, class_='form-control')}}
            </div>
            <div class="form-group">
                {{render_field(form.place, class_='form-control')}}
            </div>
            <div class="form-group">
                {{render_field(form.instructor, class_='form-control')}}
            </div>
            <div class="form-group">
                {{render_field(form.duration, class_='form-control')}}
            </div>
            <div class="form-group">
                {{render_field(form.price, class_='form-control')}}
            </div>
            <div class="form-group">
                {{render_field(form.date, class_='form-control')}}
            </div>
            <div class="form-group">
                {{render_field(form.classes_rate, class_='form-control')}}
            </div>
            <div class="form-group">
                {{render_field(form.training_rate, class_='form-control')}}
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Update">
            </div>
        </form>
    </div>
</div>
{% endblock %}