{% extends 'layout.html' %}

{% block body%}
<div class="jumbotron text-center">
    <h1>Welcome to Multisport Statistics</h1>
    <p>Using this app you can track your activities, rate classes and instructors as well as your trainings, see how many
    hours you spent on training, how much money you saved using Multisport and much more. Add your activities, gather data and
        see your stats!</p>
    <a href="/activities" class="btn btn-primary btn-lg">Add activities</a>
    <a href="/statistics" class="btn btn-success btn-lg">See stats</a>
</div>
{% endblock %}