{% extends 'layout.html' %}

{% block body%}
<div class="jumbotron text-center">
    <h1>Your Multisport Stats:</h1>
    <h4>Number of classes: {{num}}</h4>
    <h4>Time spent on classes: {{time}} minutes</h4>
    <h4>Money saved: {{savings}} zloty</h4>
    <h4>Your most popular classes: {{most_pop}}</h4>
    <h4>The least popular classes:</h4>
    <h4>Average rating of classes:</h4>
    <h4>The highest rated instructor: with raiting:</h4>
    <h4>The lowest rated instructor: with raiting:</h4>
</div>
{% endblock %}